<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.raysonblog.hotdog.module.job.mapper.JobMapper">
	<select id="listQuartzEntity" parameterType="cn.raysonblog.hotdog.module.job.entity.QuartzEntity" resultType="cn.raysonblog.hotdog.module.job.entity.QuartzEntity">
		SELECT job.JOB_NAME as jobName,job.JOB_GROUP as jobGroup,job.DESCRIPTION as description,job.JOB_CLASS_NAME as jobClassName,
		cron.CRON_EXPRESSION as cronExpression,tri.TRIGGER_NAME as triggerName,tri.TRIGGER_STATE as triggerState,
		job.JOB_NAME as oldJobName,job.JOB_GROUP as oldJobGroup 
		FROM qrtz_job_details AS job LEFT JOIN qrtz_triggers AS tri ON job.JOB_NAME = tri.JOB_NAME 
		LEFT JOIN qrtz_cron_triggers AS cron ON cron.TRIGGER_NAME = tri.TRIGGER_NAME 
		WHERE tri.TRIGGER_TYPE = 'CRON' 
		<if test='jobName != null and jobName != ""'>
			AND job.JOB_NAME = #{jobName}
		</if>
	</select>
	<select id="listQuartzEntityCount" parameterType="cn.raysonblog.hotdog.module.job.entity.QuartzEntity" resultType="long">
		SELECT COUNT(*) FROM qrtz_job_details AS job LEFT JOIN qrtz_triggers AS tri ON job.JOB_NAME = tri.JOB_NAME 
		LEFT JOIN qrtz_cron_triggers AS cron ON cron.TRIGGER_NAME = tri.TRIGGER_NAME 
		WHERE tri.TRIGGER_TYPE = 'CRON'
	</select>
</mapper>